* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191919;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.logo-placeholder {
    color: #60C689;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #60C689;
    font-weight: 700;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.hero-container h1 {
    color: #60C689;
    padding: 2em 0 0 0;
    font-weight: bold;
}

.hero-container h2 {
    color: #ECDBBA;
}

.hr-leftcon button {
    padding: 1em 2em;
    border-style: none;
    border-radius: 7px;
    background-color: #2D4263;
    margin-top: 1em;
}

.hr-gif { width: 40%; }

.hr-gif img {
    width: 100%;
}

@media screen and (max-width: 675px){
    .h-container,
    .hero-container {
        flex-direction: column;
        gap: 4em;
    }

    .hr-leftcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hr-gif { width: 400px; }
    
}